* {
    margin: 0px;
    padding: 0px;
}

::selection {
    background-color: silver;
}   

::-moz-selection {
  background-color: silver;
}

body {  
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
            url("../img/background.jpg") no-repeat center center fixed;
}

.clear_float {
    clear: both;
}

#logo h4 {
    float: left;
    margin: -10em 0px 0px 2em;
    position: absolute;
    font-family: 'Poiret One', serif;
    font-size: 1.9em;
    background-color: #000;
}

#logo a:link, #logo a:visited {
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.2em;
    opacity: 0.7;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all 0.2s ease-in-out;
}

#logo a:hover, #logo a:active {
    display: block;
    opacity: 1;
    text-decoration: none;
    transition-delay: -0.5s;
    -webkit-transition-delay: -0.5s;
    -moz-transition-delay: -0.5s;
    -o-transition-delay: -0.5s;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
}

nav ul {
    list-style-type: none;
    margin: 1em 2em 0em 0em;
}

nav li {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    margin: 0em 0.5em 0em 0.8em;
    padding: 5px;
}

.current {
    color: silver !important;
}

nav a:link, nav a:visited {
    display: block;
    text-decoration: none;
    color: #fff;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all 0.2s ease-in-out;
}

nav a:hover, nav a:active {
    display: block;
    color: silver;
    text-decoration: none;
    transition-delay: -0.5s;
    -webkit-transition-delay: -0.5s;
    -moz-transition-delay: -0.5s;
    -o-transition-delay: -0.5s;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
}

header {
    margin: 10.5em auto 7em auto;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

h1 {
    font-size: 4em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1em;
    font-weight: normal;
}

header hr {
    width: 200px;
    margin: 1em auto;
}

h2 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-weight: normal;
}

h3 {
    width: 10em;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto;
    font-weight: normal;
}

header h3 a:link, header h3 a:visited {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all 0.2s ease-in-out;
}

header h3 a:hover, header h3 a:active {
    display: block;
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    text-decoration: none;
    transition-delay: -0.5s;
    -webkit-transition-delay: -0.5s;
    -moz-transition-delay: -0.5s;
    -o-transition-delay: -0.5s;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
}

header .social_media {
    margin: 0px auto;
    list-style-type: none;
    display: inline-flex;
}

header .social_media li {
    margin: 0px 0.8em;
    float: left;
    font-size: 1.4em;
}

header .social_media a:link, header .social_media a:visited {
    display: block;
    text-decoration: none;
    background: none;
    border: none;
    color: #fff;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all 0.2s ease-in-out;
}

header .social_media a:hover, header .social_media a:active {
    display: block;
    background: none;
    border: none;
    color: silver;
    text-decoration: none;
    transition-delay: -0.5s;
    -webkit-transition-delay: -0.5s;
    -moz-transition-delay: -0.5s;
    -o-transition-delay: -0.5s;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
}
