/* General CSS for index.html and sec_page.html */

/* Background Pattern */

body {
    background-image: url(images/background.png);
    background-repeat: repeat;
    color: white;
    margin: 0px;
}

/* Container */

#container {
    width: 960px;
    background-color: black;
    margin: 0px auto;
}

/* Heading */

#header {
    height: 100px;
    padding: 20px;
    background-color: red;
    font-family: 'Playfair Display', Times, serif;
    text-transform: uppercase;
}

#header a {
    color: white;
    background-color: red;
    width: 610px; 
}

h1 {
    margin: 0px;
    letter-spacing: 5px; 
}

h2 {
    margin: 0px;
    letter-spacing: 2px;
}

h3 {
    margin: 0px;
    font-size: 14px;
    letter-spacing: 5px;
}

/* Header link properties; The header links to index.html */

#header a:link, #header a:visited {
    margin-left: 15px;
    padding: 10px;
    display: block;
    color: white;
    background-color: red;
    text-decoration: none; 
}

#header a:hover, #header a:active {
    display: block;
    color: white;
    background-color: red;
    text-decoration: none;
}

/* Navigation */

#nav {
    width: 170px;
    height: 650px;
    background-color: white;
    font-family: 'Playfair Display', Times, serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: left;
}

/* Navigation using a list */

ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
}

li {
    padding-bottom: 20px;
}

/* Navigation link properties */

#nav a:link, #nav a:visited {
    width: 140px;
    margin-left: 20px;
    padding: 10px 5px 20px 5px;
    display: block;
    color: white;
    background-color: red;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold; 
}

#nav a:hover, #nav a:active {
    display: block;
    color: red;
    background-color: white;
    text-decoration: none;
}

/* Content */

#content {
    width: 780px;
    padding: 5px;
    background-color: black;
    float: right;    
}

/* CSS for the images */

#content a {
    text-decoration: none;
}

.row {
    float: left;
}

.box_index { /* Image properties in index.html */
    margin: 10px 5px 5px 5px;
}

.box_sec {/* Image properties in sec_page.html */
    width: 120px;
    height: 150px;
    margin: 5px 10px 10px 5px;    
}

/* CSS for the Description/Story */

#content p {
    clear: both;
    margin: 5px 5px 10px 5px;
    font-size: 14px;
    font-family: Times, serif;
    line-height: 30px;
    letter-spacing: 1px;
}

/* Footer and Copyright */

#footer {
    clear: both;
    height: 30px;
    background-color: red;
    text-align: right; 
    padding: 10px;
}

#footer p {
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}